[submodule "vendor/texthooker-ui"]
	path = vendor/texthooker-ui
	url = https://github.com/ksyasuda/texthooker-ui.git
	branch = subminer
[submodule "vendor/yomitan-jlpt-vocab"]
	path = vendor/yomitan-jlpt-vocab
	url = https://github.com/stephenmk/yomitan-jlpt-vocab
[submodule "yomitan-jlpt-vocab"]
	path = vendor/yomitan-jlpt-vocab
	url = https://github.com/stephenmk/yomitan-jlpt-vocab
