# Dependencies
node_modules/

# Electron build output
out/
dist/
release/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
**/CLAUDE.md
environment.toml
**/CLAUDE.md
.env
.vscode/*

# VitePress
.vitepress/cache/
.vitepress/dist/
docs/.vitepress/cache/
docs/.vitepress/dist/
test/*
.worktrees/
.codex/*
.agents/*
